.content {
    height: 100vh;
    background-image: url(./Img/section4-image.png);
    background-position: right center;
    background-repeat: no-repeat;
    width: 1366px;
    height: 768px;

    .contact-wrapper {
        background-image: linear-gradient(to right,
                #F2F4F1 0%,
                #F2F4F1 75%,
                #DCE1DA 75%,
                #DCE1DA 100%);
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .accordion {
            margin-left: 101px;
            margin-top: 144px;
            width: 669px;


            .accordion-header {
                font-family: Roboto, medium;
                font-size: 16px;
            }

            .accordion-body {
                width: 669px;
                height: 184px;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    font-family: Roboto;
                    font-size: 16px;
                    color: #343434
                }
            }

            .accordion-button {
                background: none;
            }

        }
    }

}